Source: koffice
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Raúl Sánchez Siles <rasasi78@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), quilt, cmake (>= 2.6.2), pkg-kde-tools (>= 0.4.1),
 kdepimlibs5-dev (>= 4:4.3.0), libkdcraw7-dev (>= 4:4.3.0), libphonon-dev (>= 4:4.3.0),
 libboost-dev, libopenexr-dev, libeigen2-dev (>= 2.0~beta6),
 libqimageblitz-dev, libqca2-dev, libglew1.5-dev,
 libexiv2-dev, libgraphicsmagick1-dev, 
 libwv2-dev (>= 0.4.0), libmysqlclient-dev, libpoppler-qt4-dev, 
 libgsl0-dev, libwpd8-dev, libwpg-dev,
 libxslt1-dev, libqt4-opengl-dev (>= 4.5.0), 
 pstoedit, libgmm++-dev,
Standards-Version: 3.8.3
Homepage: http://www.koffice.org/

Package: koffice
Architecture: all
Depends: karbon (>= ${source:Version}), kchart (>= ${source:Version}), kplato (>= ${source:Version}), kpresenter (>= ${source:Version}), krita (>= ${source:Version}), kspread (>= ${source:Version}), kword (>= ${source:Version}), kthesaurus (>= ${source:Version})
Suggests: koffice-doc-html (>= ${source:Version})
Description: KDE Office Suite
 KOffice is an integrated office suite for KDE, the K Desktop
 Environment.  It offers a word processor, spreadsheet, presentation
 program, graphics tools and more.
 .
 This package provides all the components of KOffice.

Package: koffice-doc-html
Architecture: all
Section: doc
Suggests: konqueror | www-browser, koffice
Description: KDE Office Suite documentation in HTML format
 KOffice is an integrated office suite for KDE, the K Desktop
 Environment.  It offers a word processor, spreadsheet, presentation
 program, graphics tools and more.
 .
 By default the KOffice applications only provide their documentation in
 KDE docbook format, which can only be read by Konqueror or KHelpCenter.
 This package provides all of the KOffice documentation converted to HTML
 format so it can be read with any web browser.
 .
 The documentation will be installed into the usual directories
 /usr/share/doc/kde/HTML/<language>/<app>/, for instance
 /usr/share/doc/kde/HTML/en/kword/.
 .
 This package is part of the KDE Office Suite.

Package: karbon
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
Replaces: kword (<< 1:2.0.2-1)
Conflicts: kword (<< 1:2.0.2-1)
Description: a vector graphics application for the KDE Office Suite
 Karbon is a vector graphics application. Drawings are stored as geometric 
 shapes such as lines and curves. When the drawing is resized, the image 
 scales smoothly without losing quality.
 .
 This package is part of the KDE Office Suite.

Package: kchart
Architecture: any
Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
Suggests: khelpcenter4, koffice-doc-html
Description: chart drawing components for the KDE Office Suite
 KChart contains the kchart drawing components.  It can be used to embed 
 charts into KOffice documents. 
 .
 This package is part of the KDE Office Suite.
#Description: a chart drawing program for the KDE Office Suite
# KChart is a chart drawing application.  It can be used to embed charts
# into KOffice documents.  KChart is easy to use and highly configurable.
# .
# This package is part of the KDE Office Suite.


#Package: kexi
#Architecture: any
#Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
#Suggests: kexi-mdb-plugin
#Description: integrated database environment for the KDE Office Suite
# Kexi is an integrated data management application. It can be used for
# creating database schemas, inserting data, performing queries, and
# processing data. Forms can be created to provide a custom interface to
# your data. All database objects - tables, queries and forms - are stored
# in the database, making it easy to share data and design.
# .
# Kexi is considered as a long awaited Open Source competitor for MS Access,
# Filemaker and Oracle Forms. Its development is motivated by the lack of
# Rapid Application Development (RAD) tools for database systems that are
# sufficiently powerful, inexpensive, open standards driven and portable
# across many operating systems and hardware platforms.
# .
# This package is part of the KDE Office Suite.

#Package: kformula
#Architecture: any
#Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
#Suggests: khelpcenter4, koffice-doc-html
#Description: a formula editor for the KDE Office Suite
# KFormula is a formula editor that provides the basic input facilities
# and the support functionality expected of a KOffice application.
# .
# Features include easy Greek letter insertion, intelligent cursor
# movement, advanced syntax highlighting, multi-level undo support,
# LaTeX export and MathML import.
# .
# This package is part of the KDE Office Suite.

#Package: kivio
#Architecture: any
#Section: graphics
#Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
#Replaces: kivio-data (<< 1:1.9.90)
#Description: a flowcharting program for the KDE Office Suite
# Kivio is a flowcharting program that offers basic flowcharting abilities,
# but with a twist.  Objects are scriptable, and a backend plugin system
# offers the ability to make objects do just about anything.
# .
# This package is part of the KDE Office Suite.

Package: kplato
Architecture: any
Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
Suggests: khelpcenter4, koffice-doc-html
Description: an integrated project management and planning tool
 KPlato is a project management application, allowing for the planning and
 scheduling of projects. It is in the very early stages of development.
 .
 This package is part of the KDE Office Suite.


Package: kpresenter
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, koffice-libs (>= ${source:Version})
Suggests: khelpcenter4, koffice-doc-html
Replaces: kpresenter-data (<< 1:1.9.90)
Description: a presentation program for the KDE Office Suite
 KPresenter is a fully-featured presentation program.  Presentations can
 be edited directly within KPresenter, and many advanced features for
 screen presentations are available.
 .
 This package is part of the KDE Office Suite.

Package: krita
Architecture: any
Depends: ${shlibs:Depends}, krita-data (>= ${source:Version}), koffice-libs (>= ${source:Version})
Recommends: dcraw
Suggests: khelpcenter4, koffice-doc-html
Replaces: krita-data (<< 1:1.9.98.6)
Description: a pixel-based image manipulation program for the KDE Office Suite
 Krita is a painting and image editing application for KOffice. Krita contains
 both ease-of-use and fun features like guided painting.
 .
 This package is part of the KDE Office Suite.

Package: krita-data
Architecture: all
Conflicts: krita (<1:1.9.96.0~that.is.really.1.9.95.10-1)
Description: data files for Krita painting program
 This package contains architecture-independent data files for Krita,
 the painting program shipped with the KDE Office Suite.
 .
 See the krita package for further information.
 .
 This package is part of the KDE Office Suite.

Package: kspread
Architecture: any
Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
Suggests: khelpcenter4, koffice-doc-html
Description: a spreadsheet for the KDE Office Suite
 KSpread is a powerful spreadsheet application.  It is scriptable and
 provides both table-oriented sheets and support for complex mathematical
 formulae and statistics.
 .
 This package is part of the KDE Office Suite.

Package: kword
Architecture: any
Depends: ${shlibs:Depends}, kword-data (>= ${source:Version}), koffice-libs (>= ${source:Version})
Suggests: khelpcenter4, koffice-doc-html
Replaces: kword-data (<< 1:1.9.98.6)
Description: a word processor for the KDE Office Suite
 KWord is a FrameMaker-like word processing and desktop publishing
 application.  KWord is capable of creating demanding and professional
 looking documents.  It can be used for desktop publishing, but also for
 "normal" word processing, like writing letters, reports and so on.
 .
 This package is part of the KDE Office Suite.

Package: kword-data
Architecture: all
Replaces: kword (<< 1:1.9.96.0~that.is.really.1.9.95.3-1)
Description: data files for KWord word processor
 This package contains architecture-independent data files for KWord,
 the word processor shipped with the KDE Office Suite.
 .
 See the kword package for further information.
 .
 This package is part of the KDE Office Suite.

Package: kthesaurus
Architecture: any
Depends: ${shlibs:Depends}, koffice-libs (>= ${source:Version})
Suggests: khelpcenter4, koffice-doc-html
Description: thesaurus for the KDE Office Suite
 KThesaurus lists words related to a given term and offers a user interface
 to WordNet, a powerful lexical reference system. By default, only the English
 language is supported.
 .
 This package is part of the KDE Office Suite.

Package: koffice-libs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, koffice-data (>= ${source:Version})
Recommends: latex-xft-fonts, ruby, python
Suggests: wordnet, texlive
Description: common libraries and binaries for the KDE Office Suite
 This package provides the libraries and binaries that are shared amongst
 the various components of KOffice.
 .
 This package is part of the KDE Office Suite.

Package: koffice-data
Section: libs
Architecture: all
Suggests: khelpcenter4, koffice-doc-html
Conflicts: krita-data (< 1.9.96.0~that.is.really.1.9.95.10-2), karbon (< 1.9.96.0~that.is.really.1.9.95.10-2), kformula (< 1.9.96.0~that.is.really.1.9.95.10-2)
Description: common shared data for the KDE Office Suite
 This package provides the architecture-independent data that is shared
 amongst the various components of KOffice.
 .
 This package is part of the KDE Office Suite.

Package: koffice-dev
Architecture: any
Depends: koffice-libs (>= ${source:Version}), karbon (>= ${source:Version}), kchart (>= ${source:Version}), kplato (>= ${source:Version}), kpresenter (>= ${source:Version}), krita (>= ${source:Version}), kspread (>= ${source:Version}), kthesaurus (>= ${source:Version}), kword (>= ${source:Version}), kdelibs5-dev 
Description: common libraries for KOffice (development files)
 This package provides the development files for the libraries that are
 shared amongst the various components of KOffice.
 .
 This package is part of the KDE Office Suite.

Package: koffice-dbg
Section: debug
Architecture: any
Priority: extra
Depends: koffice-libs (= ${binary:Version}), kdebase-runtime-dbg
Description: debugging symbols for KOffice
 This package contains the debugging symbols associated with KOffice.
 They will automatically be used by gdb for debugging koffice-related
 issues.
