Source: koffice
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 5), quilt, cmake, kdepimlibs5-dev (>= 3.94.0-1),
 libeigen-dev, libqimageblitz-dev, libqca2-dev, libgsl0-dev, libglew1.4-dev,
 freeglut3-dev, libglpk-dev, libexiv2-dev, libgraphicsmagick1-dev, libgraphicsmagick++1-dev,
 libpoppler-qt4-dev
Standards-Version: 3.7.2

Package: koffice
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE Office Suite
 KOffice is an integrated office suite for KDE, the K Desktop
 Environment.  It offers a word processor, spreadsheet, presentation
 program, graphics tools and more.
 .
 This package provides all the components of KOffice.

